.text-vermelho
	color vermelho

.text-vermelho-escuro
	color vermelho-escuro

.text-amarelo
	color amarelo

.text-amarelo-escuro
	color amarelo-escuro

.text-azul
	color azul

.text-azul-escuro
	color azul-escuro

.text-turqueza
	color turqueza

.text-turqueza-escuro
	color turqueza-escuro

.text-roxo
	color roxo

.text-roxo-escuro
	color roxo-escuro

.text-mrp-azul
	color mrp-escala-azul-4

.text-mrp-cinza
	color mrp-escala-cinza-1

.text-mrp-verde
	color verde

for i in 1 .. 10
	.text-escala-cinza-{i}
		color lookup('escala-cinza-' + i)
