.table-mrp
	display flex
	cursor default

	table
		border-collapse collapse
		width 100%

		thead
			font-size 16px

			th
				justify-content space-between
				border-bottom solid 1px escala-cinza-4
				padding-bottom 20px

		tbody
			font-size 13px

			tr
				border-top 1px solid escala-cinza-4
				vertical-align center

			tr:hover
				background-color escala-cinza-2
				cursor default

			td
				text-align center
				padding-top 10px
				padding-bottom 10px
