.icon
	i
	color mrp-escala-azul-hover-2
	cursor pointer
	margin 0px 20px

	&:hover
		color mrp-escala-azul-hover

.icon-loading
	transform-origin 50% 50%
	animation spin 1s linear infinite
	color mrp-escala-azul-hover
	margin 0px 20px

@keyframes spin
	0%
		transform rotate(0deg)

	100%
		transform rotate(-360deg)
