// Preto e branco
escala-cinza-1 = #ffffff
escala-cinza-2 = #f5f5f5
escala-cinza-3 = #e5e5e5
escala-cinza-4 = #d1d1d1
escala-cinza-5 = #b2b2b2
escala-cinza-6 = #999999
escala-cinza-7 = #808080
escala-cinza-8 = #666666
escala-cinza-9 = #4d4d4d
escala-cinza-10 = #2D2C2E
escala-cinza-11 = #1a1e24
escala-cinza-12 = #030c16
escala-cinza-13 = #000000
// Cores Padrões Bootstrap
vermelho = #FF3548
vermelho-escuro = #cc0001
verde = #31BE31
turqueza = #2abbac
turqueza-escuro = #00695b
amarelo = #ffbb34
amarelo-escuro = #fe9003
amarelo-queimado = #f9c700
azul-claro = #7171ff
azul = #389BFF
azul-escuro = #05009f
roxo = #aa66cd
roxo-escuro = #9a33cc
// Cores Próprias
mrp-branco-gelo = #F1F3F6
mrp-branco-gelo-1 = #EBF2FF
mrp-escala-azul-0 = #C4D8F757
mrp-escala-azul-1 = #C4D8F7
mrp-escala-azul-2 = #AFBFDD
mrp-escala-azul-2-1 = #B5CFFFC7
mrp-escala-azul-3 = #2359BE
mrp-escala-azul-4 = #245ABF
mrp-escala-azul-hover = #4A7DDD
mrp-escala-azul-hover-2 = #A5B6D8
mrp-escala-azul-revert = #CBDDFF
mrp-escala-cinza-1 = #969696
mrp-escala-cinza-2 = #717171
mrp-escala-cinza-3 = #AFBFDD6A
