<div id="recovery">
	<div id="first">
		<img src="\assets\img\Path 2.png" alt="Imagem Azul de fundo">
	</div>



	<div id="content">
		<img src="\assets\img\Asset 1.png" alt="Imagem Azul de fundo">
		<h1>Recover your Account Password</h1>
		<p>A recovery link will be send to your email account.</p>
		<form>
			<input type="text" placeholder="Your Email">
			<div>
				<button>Send me the link</button>
			</div>

		</form>

		<span><a>Sign In</a> to your account</span>

	</div>
	<div>
		<img src="\assets\img\Path 2.png" alt="Imagem Azul de fundo">
	</div>


</div>
