.margin-auto
	margin auto

for margin in 0...100
	.m-top-{margin}
		margin-top margin px

for margin in 0...100
	.m-left-{margin}
		margin-left margin px

for margin in 0...100
	.m-right-{margin}
		margin-right margin px

for margin in 0...100
	.m-bottom-{margin}
		margin-bottom margin px
