<div class="auth">
  <section>
    <div>
      <form>
        <h1>
          Sign Up
        </h1>
        <input placeholder="Reffer token (leave it blank if you don’t have it)" type="text">
        <input placeholder="Your Full Name" type="text">
        <input placeholder="Phone (optional)" type="text">
        <input placeholder="Email" type="text">
        <input placeholder="Password" type="text">
        <input placeholder="Confirm Password" type="text">
        <input placeholder="Choose a language" type="text">
        <input id="rememberme" type="checkbox"> <label for="rememberme">Accept <a href="">Terms and
            Conditions</a></label>
      </form>
      <div>
        <div class="buttons">
          <button>Sign Up</button>
        </div>
      </div>
    </div>
    <p>
      <span> Already have an account? <a>Sing In</a> </span>

    </p>

    <p>
      <span> By Signing up, you agree yo our</span>
      <a>Terms and Conditions & Privacy Policy</a>

    </p>
  </section>

</div>
