:host
	display flex

	nav
		display flex
		flex-direction column
		flex 1

		a
			width 100px
			padding 10px
			display flex
			justify-content center

	div
		flex 1
		background-color #245ABF

@media (max-width 1000px)
	#desktop
		display none
