input, textarea
	width 100%
	padding 8px 10px
	background escala-cinza-1
	border solid 1px mrp-escala-azul-1
	border-radius 10px
	box-shadow 0px 0px 40px mrp-escala-azul-0
	margin 5px auto auto auto

	&::placeholder
		color mrp-escala-azul-2
		font-size 12px

	&:disabled
		background escala-cinza-3
		color escala-cinza-7

textarea
	max-width 100%
	min-width 4em
