select
	padding 10px 15px
	-moz-appearance none
	-webkit-appearance none
	appearance none
	font-size 15px
	color mrp-escala-azul-4
	cursor pointer
	font-weight bold
	background-color mrp-branco-gelo-1
	box-shadow 0px 3px 6px mrp-escala-azul-2-1
	border-radius 10px
	background-image url('../../../assets/svg/down.svg')
	background-repeat no-repeat, repeat
	background-position right 0.7em top 50%, 0 0
	background-size 0.65em auto, 100%
	justify-content flex-start
	margin 10px

@media screen and (max-width 450px)
	select
		font-size 10px
		margin 4px