.rowFlex
  display flex
  max-height 100vh

  .content
    display flex
    width 50vw
    height 100vh

    .img
      position absolute
      width 50%
      height 100%
      flex-direction column
      display flex
      justify-content center
      align-items center

    span
      font SemiBold
      font-size 30px
      letter-spacing 0px
      font Montserrat
      font-size 37px
      letter-spacing 0px
      color #FFFFFF
      width 50%

  .login
    display flex

@media (max-width 850px)
  .rowFlex
    .content
      width 100vw

    .content:nth-child(1)
      display none
