/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap')
@import 'https://kit-pro.fontawesome.com/releases/v5.12.0/css/pro.min.css'
@import 'stylus/global'
